In [1]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

In [5]:
data=[4,8,15,16,23,42]

In [6]:
series= pd.Series(data)

In [7]:
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [8]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [9]:
import pandas as pd

In [14]:
my_list=[1,2,3,4,5,6,7,8,9,10]

In [16]:
my_series= pd.Series(my_list)

In [17]:
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [18]:
#Q3. Create a Pandas DataFrame that contains the following data:

In [19]:
import pandas as pd

In [22]:
data=[
    {"Name":"Alice", "Age":25,"Gender":"Female"},
    {"Name":"Bob", "Age":30,"Gender":"Male"},
    {"Name":"Claire", "Age":27,"Gender":"Female"}
]

In [23]:
df= pd.DataFrame(data)

In [24]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [25]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [26]:
"""DataFrame is a 2D structure with rows and columns, while Series is a 1D structure with an index.
A DataFrame can store multiple columns of data, making it suitable for tabular data, whereas a Series is designed for single sequences of data.
Operations on DataFrames often involve multiple columns and are suitable for data manipulation and analysis tasks, while Series is more appropriate for working with individual data sequences."""

'DataFrame is a 2D structure with rows and columns, while Series is a 1D structure with an index.\nA DataFrame can store multiple columns of data, making it suitable for tabular data, whereas a Series is designed for single sequences of data.\nOperations on DataFrames often involve multiple columns and are suitable for data manipulation and analysis tasks, while Series is more appropriate for working with individual data sequences.'

In [27]:
#DataFrame example explained in question No.3

In [28]:
import pandas as pd

In [29]:
data=[25,30,25]
index= ["Nikita","Aniket","Patil"]

In [31]:
series= pd.Series(data, index=index)

In [32]:
print(series)

Nikita    25
Aniket    30
Patil     25
dtype: int64

In [33]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [1]:
# following functions are used to manipulate data in pandas: 1)head() or tail() 2) info() 3) describe() 4) shape 5)value_counts() 6)groupby() 7) sort_values()
# head() or Tail(): These functions allow you to view the first or last n rows of dataframe, which is useful for quickly inspecting data.  df.head()

In [2]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
#Series: Series is mutable. You can change the values of elements within a Series after it's been created.
#DataFrame: DataFrame is mutable. You can modify the data within a DataFrame, add or remove columns, and change values in cells.
#Panel: Panel was deprecated in Pandas 0.25.0 (July 2019) and is no longer a primary data structure in Pandas. It has been removed in newer versions (Pandas 1.0.0 and later). Panels were replaced by other data structures, and they were considered less essential for most data analysis tasks.

In [3]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.

In [4]:
import pandas as pd

In [ ]:
names= pd.Series(["Nikita","Aniket","Patil"])
ages= pd.Series([25,26,30